.character {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
    margin: auto;
    align-self: center;
    font-size: 1.4rem;
    max-width: 280px;
    height: 100%;
    padding: 10px;
    border: 3px solid #C78E1C;
    border-radius: 15px;
    background-color: #767A69;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

    &__image {
        pointer-events: none;
        width: 100%;
        max-width: 250px;
        height: 350px;
        border-radius: 10px;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        line-height: 1.4;
    }

    &__info-name {
        font-size: 1.5rem;
        font-weight: bold;
        color:#73151E;
    }

    &__info-text {
        font-size: 1.2rem;
        color: white;
    }

    &____info-text-icon {
        font-size: 1.5rem;
        color: #C78E1C;
    }
}