.character {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
    margin: auto;
    align-self: center;
    font-size: 1.4rem;
    max-width: 280px;
    height: 100%;
    padding: 10px;
    border: 3px solid #C78E1C;
    border-radius: 15px;
    background-color: #767A69;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        border-color: #ffcd45;
        background-color: #73151E;
        .character__info-name {
            color: #ffcd45; /* Cambia el color del nombre al hacer clic en el personaje */
        }
    }

    &__image {
        pointer-events: none;
        width: 100%;
        max-width: 250px;
        height: 350px;
        border-radius: 10px;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        line-height: 1.4;
    }

    &__info-name {
        font-size: 1.3rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        color:#73151E;
    }

    &__info-text {
        font-size: 1.1rem;
        color: white; 
        font-family: 'roboto';
    }

    &____info-text-icon {
        font-size: 1.5rem;
    }

    // Media queries
    @media screen and (max-width: 768px) {
        padding: 5px;
    }

    @media screen and (max-width: 480px) {
        &__image {
            max-width: 200px;
            height: 300px;
        }

        &__info-name {
            font-size: 1.3rem;
        }

        &__info-text {
            font-size: 1rem;
        }

        &____info-text-icon {
            font-size: 1.3rem;
        }
    }
}
