.footer {
    background-color: #D4B996;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    position: relative;
    height: 170px;

    &__text {
        font-size: 1.2rem;
        margin: 10px;
        font-style: italic;
        font-family: 'Libre Baskerville', serif;
    }
  
    &__text-author {
        margin-top: 15px;
        font-family: 'Roboto', sans-serif; /* Corrige la familia de fuentes */
    }
  
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif; /* Corrige la familia de fuentes */
    }
  
    &__logo {
        width: 20px;
        margin-right: 5px; 
    }
  
    &__logo-link {
        color: white;
    }

    &__btn-up {
        @media screen and (max-width: 768px) {
            top: auto;
            bottom: 20px;
            right: 20px;
            margin: 0;
        }
    }

    &__btn-up-img {
        height: 70px;
        z-index: 999;
        cursor: pointer;
    }
}
