.footer {
    background-color: #C78E1C;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 40px;

    &__text {
        font-size: 1.2rem;
        margin: 10px;
        font-style: italic;
    }
  
    &__text-author {
        margin-top: 15px;
    }
  
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }
  
    &__logo {
        width: 20px;
        margin-right: 5px; 
    }
  
    &__logo-link {
        color: white;
    }
  }