.form {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 0 25px;

    &__input {
        width: 100%;
        padding: 5px;
        border: 2px solid #73151E;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #E8D9BC;
    }

    &__reset {
        align-items: center;
        background-color: #73151E;
        border: 1px solid red;
        border-radius: 30px;
        color: #fff;
        display: flex;
        font-size: 1.5rem;
        grid-column: 2;
        grid-row: 1/2;
        height: 50px;
        width: 50px;
        justify-content: center;
        margin: 10px;
        cursor: pointer;
        transition: all .4s ease;
    }

    // Media queries
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;


        &__input {
            width: 100%;
            margin-bottom: 10px;
        }

        &__reset {
            margin: 10px auto;
        }
    }

    @media screen and (max-width: 480px) {
        &__input {
            font-size: 1rem;
        }

        &__reset {
            font-size: 1.2rem;
        }
    }
}
