.home {
    background-image: url('../images/hogwarts_harry_potter_landing.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; 

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        text-align: center;
        padding: 0 20px;
    }

    &__content-logo {
        width: 800px;
    }

    &__content-title {
        font-size: 3rem;
        margin-bottom: 20px;
        font-family: 'Libre Baskerville', serif;
    }

    &__content-text {
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        animation: move 3s infinite; /* Animación de movimiento */
        @keyframes move{    
            0% {transform: translateY(0);}
            50% {transform: translateY(10px);}
            100% {transform: translateY(0);}
        }
    }

    &__content-link {
        padding: 10px 20px;
        background-color: #C78E1C;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #000000;
        }
    }

    &__content-button {
        border: none;
        background-color: transparent;
        font-family: 'roboto';
        color:white;
        font-weight: bold;
        font-size: 1.3rem;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    // Media queries
    @media screen and (max-width: 768px) {
        &__content {
            padding: 0 10px; /* Reducción del relleno en dispositivos más pequeños */
        }

        &__content-logo {
            width: 90%; /* Ajuste del ancho del logo para dispositivos más pequeños */
        }

        &__content-title {
            font-size: 2rem; /* Ajuste del tamaño del título para dispositivos más pequeños */
        }

        &__content-text {
            font-size: 1.2rem; /* Ajuste del tamaño del texto para dispositivos más pequeños */
        }
    }
}
